.Lobby{
    text-align:center;
    align-content: center;
}

.Title{
    text-align:center;
    font-family: Arial;
}

.helpy{
    margin:20px;
}

.Grid{
    align-content: center;
    justify-content: center;
}
/*
h1{
    text-align:center;
}
*/